/* Navbar.css */
.navbar {
    background-color: #111827; /* Navy blue shade */
    color: aliceblue; /* Light blue text color */
    height: 70px;
  }
  
  .navbar .nav-link {
    color: aliceblue;
  }

   
  .navbar .nav-link {
    border-radius: 5px;
    margin-left: 10px;
    color: aliceblue;
  }

  .navbar .navbar-brand{
    color: aliceblue;

  }


  
  .navbar .nav-link:hover {
    border-radius: 5px;
    background-color: aliceblue;
    color: #111827; /* Add hover effect, optional */
  }
  
  .navbar .badge {
    background-color: #2563eb; /* Optional badge styling */
  }

  .btn {
    background-color: #111827; /* Navy blue shade */
    color: aliceblue; /* Light blue text color */
  }
  
.navbar-toggler-icon{
    background-color: aliceblue;
    border-radius: 1px;
    
  }

  .nav-item{
    background-color: #111827;
    border-radius: 5px;
    color: aliceblue;
  }

  

